<?xml version='1.0' encoding='utf-8'?>
<widget id="com.blackberry.slovenskeradia" version="0.3.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0" xmlns:rim="http://www.blackberry.com/ns/widgets">
    <name>Stream app</name>
    <author>Tomáš Taro</author>
    <description>Streamuj slovenské a české rádiá online</description>
    <content src="index.html" />
    <access uri="http://tomastaro.sk" subdomains="false" />
    <access uri="http://audioscrobbler.com" subdomains="true" />
    <access uri="http://last.fm" subdomains="true" />
    <access uri="http://lagardere.cz/" subdomains="true" />
</widget>
