#playcontrols {
    text-align: center;
    margin-top: 50px;
}
#playcontrols #activityindicator, #playcontrols #stopbutton {
    display: none;
}
h2 {
    text-align: center;
    font-weight: 100;
}
.radio {
    width:100%;
    height: 80px;
    border-bottom: 1px solid grey;
}
.name {
    display: inline;
    padding: 26px 18px;
    position: absolute;
    font-family: sans-serif;
}
.description {
    padding: 45px 18px;
    position: absolute;
    font-family: serif;
    font-weight: 400;
    display: inline;
    font-size: smaller;
}
.img {
    width: 40px;
    margin: 12px 0px 12px 10px;
}
img {
    width: 80px;
}
.buttons {
    display: inline;
    float: right;
    margin-top: 10px;
    margin-right: 2px;
}